<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeTest" parallel="false" verbose = "2">
	<parameter name="browserType" value="htmlunit"/>
	<test name="Test" preserve-order="true">
    	<classes>
      		<class name="tests.Test_Login">
			</class>	
			<class name="tests.Test_Functional_Main">
      			<methods>					
 					<include name="test_CreateMessage" />
					<include name="test_SendMessage" />
					<include name="test_OpenInboxMessage" />
					<include name="test_ReplyToMessage" />
				  	<include name="test_ForwardInboxMessage" />					
				   	<include name="test_Read_And_Move_ToTrash" />
				   	<include name="test_Move_FromInboxList_ToTrash" />				   					  
				  	<include name="test_Recover_FromTrashList_ToInbox" />
				  	<include name="test_Move_FromInboxList_ToSpam"/>
				  	<include name="test_Recover_FromSpamList_ToInbox"/>		  	
				  	<include name="test_DragAndDrop_InboxToSpam"/>
				  	<include name="test_Send_With_Attachment"/>			
				</methods>			
			</class>
			<class name="tests.Test_Registration">
			</class>			
    	</classes>
  	</test> <!-- Test -->
</suite> <!-- Suite -->
